footer .container {
    display: flex;
    height: 15rem;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    
}


.container a {
    color: black;
    text-decoration: none;
}
.fa-etsy, .fa-facebook-f, .fa-instagram{
    font-size: 2rem;
}
a:hover {
    transform: scale(1.2);
    transition: all 0.22s ease-out;
    color: #e9c46a;
}

footer h6 {
    text-align: center;
    font-size: 0.7rem;
}

@media only screen and(max-width:320px){
    .container a {
        font-size: 0.6rem;
    }
}