.gallery_ {
    padding: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 5rem;
    justify-items:center;
    background: rgb(0,36,0);
    background: linear-gradient(90deg, rgba(0,36,0,0.8435749299719888) 0%, rgba(42,157,143,1) 50%, rgba(7,9,9,0.908000700280112) 100%);
}

.img_container {
    overflow: hidden;
    filter: drop-shadow(0 0 0.3rem #000);
}

.img_container:hover {
    overflow: hidden;
    filter: drop-shadow(0 0 1rem #000);
    transition: all 0.3s ease-out;
}

.img_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-out;
    cursor: pointer;  
     
}

.img_container img:hover {
  transform: scale(1.3);
}


@media only screen and (max-width:320px){
    .img_container img {
        width: 100%;
        height: 100%; 
    }

    .gallery_ {
        padding: 1rem;
        grid-template-columns: 100px 100px;
        grid-gap: 2rem;
        
    }


}