.navbar {
    display: flex;
    justify-content: flex-end;
    padding: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.social-link {
    width: 150px;
    display: flex;
    justify-content: space-evenly;  
}
.social-link a {
    color: #fff;
    text-decoration: none;
}
.fa-etsy, .fa-facebook-f, .fa-instagram, fa-envelope {
    font-size: 2rem;
}
a:hover {
    transform: scale(1.2);
    transition: all 0.22s ease-out;
    color: #e9c46a;
}

@media only screen and (max-width:767px){
    .navbar {
        padding: 1rem;
    }
    .social-link {
        width: 100px;
        display: flex;
        justify-content: space-evenly; 
        
    }
    .social-link a {
        padding:0.5rem;
    }
}

@media only screen and (max-width:380px){
    
}